@media screen and (min-width: 1024px) and (max-width: 1440px) {
    html {
        font-size: 18px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    html {
        font-size: 16px;
    }
}

@media screen and (max-width: 768px) {
    html {
        font-size: 10px;
    }
}

@media screen and (min-resolution: 280dpi) {
    html {
        font-size: 11px;
    }
}

body {
    --control-color-1: #44454e;
    --control-color-2: #35363b;

    --frame-color: #252527;

    --theme-color: #1c1c1c;
    --gradient-1: #2e2e2e;
    --gradient-2: #161616;

    --text-color: #f3f3f3;
    --text-color-inactive: #6a6a73;

    --control-shadow: -3px 3px 8px #202124, 3px -3px 8px #313134;
    --frame-shadow: #29292c 9px -9px 16px, #1b1b1c -9px 9px 16px;

    --control-color-inactive: linear-gradient(194deg, var(--control-color-2), var(--control-color-1));
    --control-gradient-accent: linear-gradient(90deg, var(--control-color-accent-1), var(--control-color-accent-2));
}

@media (prefers-color-scheme: light) {
    body {
        --control-color-1: #ebecf0;
        --control-color-2: #dfe0e7;

        --frame-color: #ebecf1;

        --theme-color: #dfe0e8;
        --gradient-1: #ebecf2;
        --gradient-2: #d6d8e0;

        --text-color: #6c7180;
        --text-color-inactive: #b4b4b4;

        --control-shadow: -3px 3px 8px #d8d8d8, 3px -3px 8px #f2f2f2;
        --frame-shadow: #e8e8e8 12px -12px 18px, #b9b9bf -12px 12px 18px;

        --control-color-active: linear-gradient(194deg, var(--control-color-1), var(--control-color-2));
        --control-color-inactive: linear-gradient(194deg, var(--control-color-2), var(--control-color-1));
    }
}

html {
    margin: 0 auto;
    text-align: center;
}

body {
    --control-color-accent-1: #8300c4;
    --control-color-accent-2: #c4007f;

    --control-color-active: linear-gradient(194deg, var(--control-color-1), var(--control-color-2));

    margin: 0;
    color: var(--text-color);
    font-family: Helvetica Neue, Lucida Grande, Arial, sans-serif;
    padding-bottom: 4rem;

    background: var(--theme-color);

    overflow-x: hidden;
    overscroll-behavior-y: none;
    -webkit-font-smoothing: antialiased;
}

.bg {
    background: var(--theme-color) linear-gradient(173deg, var(--gradient-1), var(--gradient-2)) no-repeat;
    position: fixed;
    inset: 0;
    z-index: -1;
}

h1, h2, h3 {
    text-transform: uppercase;
    font-weight: 300;
    color: var(--text-color);
    letter-spacing: 0.25rem;
    user-select: none;
}

h1 {
    font-size: 2.5rem;
    margin: 1rem auto 1rem;
}

h2 {
    font-size: 2rem;
    margin: 2rem auto 1rem;
}

h3 {
    font-size: 1.5rem;
    margin: 0 auto 2rem;
}

.button, .input {
    display: block;
    width: 70vw;
    max-width: 20rem;
    box-sizing: content-box;
    background: var(--control-color-active);
    box-shadow: var(--control-shadow);
    border: none;
    color: var(--text-color);
    padding: 1rem;
    font-size: 2rem;
    font-weight: 300;
    margin: 0 auto 2rem;
    text-align: center;
    cursor: pointer;
    border-radius: 0.75rem;
    user-select: none;
}

.section, .bg, .status,
.button, .input, .input > select, .wheel::before {
    transition-property: color, background, box-shadow;
    transition-duration: 250ms;
}

.wheel::before {
    transition-property: height, filter;
}

.button {
    text-transform: uppercase;
}

.section {
    position: relative;

    box-sizing: border-box;

    background: var(--frame-color);
    border-radius: 2rem;

    padding: 1.5rem;
    margin: 3rem auto;

    max-width: 28rem;

    box-shadow: var(--frame-shadow);
}

.section > .lock {
    position: absolute;
    right: 1rem;
    padding: 0;
    font-size: 1rem;
    margin: 0;
    width: 2rem;
    height: 2rem;
}

.section > .lock::after {
    content: " ";

    display: block;
    width: 100%;
    height: 100%;

    mask-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHg9IjBweCIgeT0iMHB4IiB3aWR0aD0iMTYiIGhlaWdodD0iMTYiIHZpZXdCb3g9IjAgMCAxNiAxNiI+CjxwYXRoIGQ9Ik0gOCAxIEMgNS43OTY4NzUgMSA0IDIuNzk2ODc1IDQgNSBMIDQgNiBMIDMuNSA2IEMgMi42NzU3ODEgNiAyIDYuNjc1NzgxIDIgNy41IEwgMiAxMi41IEMgMiAxMy4zMjQyMTkgMi42NzU3ODEgMTQgMy41IDE0IEwgMTIuNSAxNCBDIDEzLjMyNDIxOSAxNCAxNCAxMy4zMjQyMTkgMTQgMTIuNSBMIDE0IDcuNSBDIDE0IDYuNjc1NzgxIDEzLjMyNDIxOSA2IDEyLjUgNiBMIDEyIDYgTCAxMiA1IEMgMTIgMi43OTY4NzUgMTAuMjAzMTI1IDEgOCAxIFogTSA4IDIgQyA5LjY2NDA2MyAyIDExIDMuMzM1OTM4IDExIDUgTCAxMSA2IEwgNSA2IEwgNSA1IEMgNSAzLjMzNTkzOCA2LjMzNTkzOCAyIDggMiBaIE0gMy41IDcgTCAxMi41IDcgQyAxMi43ODEyNSA3IDEzIDcuMjE4NzUgMTMgNy41IEwgMTMgMTIuNSBDIDEzIDEyLjc4MTI1IDEyLjc4MTI1IDEzIDEyLjUgMTMgTCAzLjUgMTMgQyAzLjIxODc1IDEzIDMgMTIuNzgxMjUgMyAxMi41IEwgMyA3LjUgQyAzIDcuMjE4NzUgMy4yMTg3NSA3IDMuNSA3IFoiPjwvcGF0aD4KPC9zdmc+');
    mask-repeat: no-repeat;
    mask-position: 50%;

    background: var(--text-color);
}

.section[data-locked=true] > .lock::after {
    background: var(--control-color-accent-2);
}

.section[data-locked=true] > .lock {
    background: var(--control-color-inactive);
}

.section[data-locked=true] *:not(.lock) {
    pointer-events: none;
}

.section[data-locked=true] :where(.input, .button, select) {
    color: var(--text-color-inactive);
}

.section[data-locked=false] .wheel::before {
    filter: saturate(1);
}

.section[data-locked=true] .wheel::before {
    filter: saturate(0.3);
}

.section:has(+ .section) {
    margin-bottom: 4rem;
}

.input:has(select) {
    display: grid;
    grid-template-columns: auto fit-content(100%) auto;
    justify-content: space-between;
    align-items: baseline;

    padding: 0 1rem;
}

.input:has(select)::before {
    content: "<";
}

.input:has(select)::after {
    content: ">";
}

.input > select {
    width: 100%;
    padding: 1rem 0.5rem;

    border-radius: 0.75rem;

    cursor: pointer;
    appearance: none;
    outline: none;
    border: none;
    color: var(--text-color);
    background: none;

    font-size: 2rem;
    font-family: inherit;
    font-weight: 300;
    text-align-last: center;

    overflow: hidden !important;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.input.wheel {
    --pos: 0;

    position: relative;
    height: 2.4rem;
    user-select: none;

    overflow: hidden;
    z-index: 1;

    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: baseline;
}

.wheel::before {
    content: '';
    --offset: calc(100% * (1 - var(--pos)));

    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    height: 1.25rem;
    background: var(--control-gradient-accent);

    pointer-events: none;
    z-index: -1;

    mask-image: linear-gradient(to bottom, transparent 75%, #000 75%),
    linear-gradient(to left, transparent var(--offset), #000 var(--offset));
    mask-composite: intersect;
}

.wheel .option {
    padding: 1rem;
    scroll-snap-align: center;
    user-select: none;
}

.wheel > .main {
    grid-column-start: 2;
}

.wheel > .fraction {
    justify-self: left;
    font-size: 0.5em;
}


.input[type="text"],
.input[type="time"] {
    appearance: none;
    height: 2.4rem;
    font-family: inherit;
}

.input[type="text"]:focus,
.input[type="time"]:focus {
    outline: none;
    box-shadow: inset 0 0 0 0.1rem var(--control-color-accent-1);
}

.input[type="time"]::-webkit-calendar-picker-indicator {
    display: none;
}

.input[type="time"]::-webkit-clear-button {
    display: none;
}

.button[disabled] {
    pointer-events: none;
}

.button[data-saving=true], .input[data-saving=true] {
    color: var(--text-color-inactive);
    pointer-events: none;
    animation: saving linear infinite 1.4s;
}

.button[data-value=true] {
    background: var(--control-color-active)
}

.button[data-value=true]::before {
    content: "ON"
}

.button:not([disabled]):active {
    background: var(--control-color-inactive)
}

.button[data-value=false] {
    background: var(--control-color-active)
}

.button[data-value=false]::before {
    content: "OFF"
}

.input[data-loading=true], .button[data-loading=true] {
    color: transparent;
    background-image: linear-gradient(90deg, var(--control-color-1), var(--control-color-2), var(--control-color-1));
    background-color: var(--control-color-1);
    background-repeat: no-repeat;
    background-size: 90% 100%;
    animation: background-shift linear infinite 2s;

    user-select: none;
    pointer-events: none;
}

.wheel[data-loading=true]::before {
    height: 0;
}

.input[data-loading=true] > select {
    color: transparent;
}

p {
    font-size: 1rem;
    font-weight: 300;
    margin-bottom: 0.75rem;
    user-select: none;
}

.status {
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    margin: 0;
    padding: 0.5rem 0;

    text-align: center;
    font-size: 0.8rem;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: 0.25rem;

    color: white;
    background: var(--control-gradient-accent);
}

:not(.m-top, .section-title) + .m-top {
    margin-top: 4rem;
}

.m-top .m-top {
    margin-top: inherit;
}

@keyframes saving {
    0% {
        background: var(--control-color-1);
    }

    50% {
        background: var(--control-color-2);
    }

    100% {
        background: var(--control-color-1);
    }
}

@keyframes background-shift {
    0% {
        background-position: -1000% 0;
    }

    100% {
        background-position: 1000% 0;
    }
}